/* UPLOAD SECTION */

.upload-card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  text-align: center;
  margin-bottom: 30px;
}

.upload-title {
  font-size: 34px;
  margin-bottom: 10px;
  color: #222;
}

.upload-subtitle {
  color: #666;
  margin-bottom: 25px;
}

.upload-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.file-input {
  display: none;
}

.file-label {
  background: #f1f3f6;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.file-label:hover {
  background: #e2e6ea;
}

.upload-btn {
  padding: 12px 22px;
}

.progress-wrapper {
  width: 100%;
  margin-top: 15px;
}

.progress-bar {
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #6a11cb,
    #2575fc
  );
  transition: width 0.3s ease;
}

.progress-text {
  margin-top: 8px;
  font-size: 14px;
}